<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@guest, html: { class: 'form-horizontal' }) do |f| %>
        <%= f.input :ceremony, as: :radio_buttons, collection: [["Accepts with pleasure", true], ["Declines with regrets", false]], label: "Will you be attending the ceremony?" %><br>
        <%= f.input :reception, as: :radio_buttons, collection: [["Accepts with pleasure", true], ["Declines with regrets", false]], label: "Will you be attending the reception?" %><br>
        <%= f.input :party, collection: 0..10, prompt: "" ,label: "Number of guests attending? (Including yourself)" %><br>
        <%= f.button :submit, "Submit RSVP", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>

$(".guest_party").hide();
$("input").on( "click", function() {
  if($("#guest_ceremony_true, #guest_reception_true").is(":checked")) {
    $(".guest_party").show(300);
  } else {
    $(".guest_party").hide(200);
  }
})

</script>