<% provide(:title, "Edit User") %>


<div class="container push-down">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center"><%= gravatar_for @user %></p>
      <h4 class="text-center"><%= full_name(current_user) %></h4>
      <p class="text-center"><a href="//en.gravatar.com/site/login">Edit Image</a></p>
      <div class="edit-user">
        <h3><strong>Name and Password</strong></h3>
        <p>Change your name and/or password.</p>
      </div>
      <%= simple_form_for @user do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.input :first_name, label: "First Name" %>

        <%= f.input :last_name, label: "Last Name" %>

        <%= f.input :email, label: "Email" %>

        <%= f.input :password, label: "Password" %>

        <%= f.input :password_confirmation, label: "Confirm Password" %>

        <%= f.button :submit, "Save changes", class: "btn btn-primary" %>
      <% end %>
      <br>
    </div>
  </div>
</div>