<% provide(:title, "Edit user") %>


<div class="container push-down">
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <div>
        <%= gravatar_for @user %>
        <%= full_name(current_user) %>
        <p><a change</a></p>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">Name and Password</a>
        <a href="http://gravatar.com/emails" target=_blank class="list-group-item">Profile Image</a>
        <a href="#" class="list-group-item">Link 3</a>
        <a href="#" class="list-group-item">Link 4</a>
        <a href="#" class="list-group-item">Link 5</a>
      </div>
    </div>
    <div class="col-md-8 col-md-pull-4">
      <%= simple_form_for @user do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.input :first_name, label: "First Name" %>

        <%= f.input :last_name, label: "Last Name" %>

        <%= f.input :email, label: "Email" %>

        <%= f.input :password, label: "Password" %>

        <%= f.input :password_confirmation, label: "Confirm Password" %>

        <%= f.button :submit, "Save changes", class: "btn btn-primary" %>
      <% end %>
      <br>
    </div>
  </div>
</div>