<% provide(:title, "Blog") %>

<section id="blog-posts" class="push-down">

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <% @posts.each_with_index do |post, i| %>
                    <div class="post-wrapper">
                        <h2 class="title"><%= link_to post.title, post %></h2>
                        <p class="post-info">By <em><%= full_name(post.user) %></em> | Posted <%= post.created_at.strftime("%B, %d, %Y") %> | Comments: <%= post.comments.count %></p>
                        <p><%= post.body.truncate_words(50, omission: ' [...]') %></p>
                    </div>
                    <% if i <= 1 %>
                    <hr>
                    <% end %>
                <% end %>
                <nav class="paginate">
                    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
                </nav>
            </div>            
        </div>
    </div>    
</section>
